salesforce-reference/force-app/main/default/flows/Base_Position_Get_Initial_Capital_Invested.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <formulas>
        <name>formInitialCapitalInvested</name>
        <dataType>Currency</dataType>
        <expression>({!formInitialLongPositionValue} + {!Get_Initial_Short_Position.Option_Order_Principal__c}) *-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formInitialLongPositionValue</name>
        <dataType>Currency</dataType>
        <expression>IF(ISPICKVAL({!Get_Base_Position_Details.Stock_or_Long_Call__c}, &apos;Long Call Option&apos;), {!Get_Initial_Long_Option_Position.Long_Option_Order_Principal__c}, {!Get_Initial_Long_Stock_Position.Stock_Share_Order_Principal__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Base Position - Get Initial Capital Invested {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Base Position - Get Initial Capital Invested</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Base_Position_Details</name>
        <label>Get Base Position Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Initial_Long_Option_Position</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Base_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Initial_Long_Option_Position</name>
        <label>Get Initial Long Option Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Initial_Long_Stock_Position</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Base_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Long_Option_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Buy to Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Long_Option_Bottom_Position__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Initial_Long_Stock_Position</name>
        <label>Get Initial Long Stock Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Initial_Short_Position</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Base_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stock_Share_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Buy</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stock_Share_Bottom_Position__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Initial_Short_Position</name>
        <label>Get Initial Short Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Total_Initial_Capital_Invested</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Base_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Short_Option_Top_Position__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Total_Initial_Capital_Invested</name>
        <label>Update Total Initial Capital Invested</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Initial_Capital_Invested__c</field>
            <value>
                <elementReference>formInitialCapitalInvested</elementReference>
            </value>
        </inputAssignments>
        <object>Base_Position__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Base_Position_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
