salesforce-reference/force-app/main/default/flows/Base_Position_Sell_Shares_and_Buy_Short_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Base Position - Sell Shares and Buy Short Contracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Base Position - Sell Shares and Buy Short Contracts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Sell_Shares_and_Buy_Back_Contracts_Information_Screen</name>
        <label>Sell Shares and Buy Back Contracts Information Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sell_Stock_Shares</targetReference>
        </connector>
        <fields>
            <name>SellSharesAndBuyBackTopContractsInformationScreen</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;You are about to Sell shares and Buy back some Top contracts.&amp;nbsp;This will create a Sell leg for your Stock Shares and a Buy to Close leg for your short options.&amp;nbsp;You will need the following information &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;which can be obtained from your broker&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;:&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;Sell Stock Shares&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;How many shares of stock did you sell? (Transaction History)&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;NOTE:&amp;nbsp;This number must be divisible by 100.&amp;nbsp;We are only tracking the portion of your portfolio that is covered&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What was the Share Price you sold them at?&amp;nbsp;(Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;Sell to Open (Short Options)&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What was the Fill Price of the Sell to Open order? (Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;The following items are NOT REQUIRED, but will let you track time premium you&apos;ve collected and bought back on rolls.&amp;nbsp;You can enter this information later, but it&apos;s easiest to capture stock prices for the MINUTE of your trade closest to the time of the trade.&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What time of day (minute) did you execute the trade? (Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What was the high price of the stock in that minute? (MINUTE Stock chart)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What was the low price of the stock in that minute? (MINUTE Stock chart)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sell_Shares_and_Buy_Back_Contracts_Information_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Buy_Close_Top_Position_Contracts</name>
        <label>Buy/Close Top Position Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Base_Position_Close_Buy_Short_Option_Top_Position_Contracts</flowName>
        <inputAssignments>
            <name>varInBasePositionId</name>
            <value>
                <elementReference>varInBasePositionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInNumShortContractsToClose</name>
            <value>
                <elementReference>Sell_Stock_Shares.varOutNumShortContractsNeededToCover</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Sell_Stock_Shares</name>
        <label>Sell Stock Shares</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buy_Close_Top_Position_Contracts</targetReference>
        </connector>
        <flowName>Base_Position_Sell_Stock_Share_Bottom_Position</flowName>
        <inputAssignments>
            <name>varInBasePositionId</name>
            <value>
                <elementReference>varInBasePositionId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varInBasePositionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
