salesforce-reference/force-app/main/default/flows/Base_Position_Close_PMCC_Base_Position.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Are_there_Open_Contracts</name>
        <label>Are there Open Contracts?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Close_Date_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Return_Information_about_Base_Position.varOutNumOpenShortContracts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>You_Have_Open_Contracts_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Base Position - Close PMCC Base Position {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Base Position - Close Base Position - PMCC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Set_Close_Status_and_Close_Date_for_Base_Position</name>
        <label>Set Close Status and Close Date for Base Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Initial_Capital_Invested</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Base_Position_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position_Running_Close_Date__c</field>
            <value>
                <elementReference>What_would_you_like_to_set_as_the_Close_Date_for_the_Position</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Long_Position_Current_Value__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Short_Position_Open_Current_Value__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Base_Position__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Get_Close_Date_Screen</name>
        <label>Get Close Date Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Close_Status_and_Close_Date_for_Base_Position</targetReference>
        </connector>
        <fields>
            <name>CloseBasePositionInformationDisplay</name>
            <fieldText>&lt;p&gt;You have closed all your open contracts, and continuing will completely close this Base Position.  &lt;/p&gt;&lt;ul&gt;&lt;li&gt;It will recalculate your Initial Capital invested based on your initial stock or long option purchased.  It will use this value to calculate the ROI on your position&lt;/li&gt;&lt;li&gt;It will set the Current Market Value of your Long and Short Position to 0&lt;/li&gt;&lt;li&gt;It will set the status of the Base Position to &quot;Closed&quot;&lt;/li&gt;&lt;li&gt;It will set the Close Date as specified below&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_would_you_like_to_set_as_the_Close_Date_for_the_Position</name>
            <dataType>DateTime</dataType>
            <fieldText>What would you like to set as the Close Date for the Position?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>You_Have_Open_Contracts_Screen</name>
        <label>You Have Open Contracts Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Close_Long_Position_Contracts</targetReference>
        </connector>
        <fields>
            <name>YouHaveOpenContractsDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You have {!Return_Information_about_Base_Position.varOutNumOpenShortContracts} open contracts.  You will now be redirected to Close them.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;You are about to sell all your contracts so you can close your position.&amp;nbsp;This will create a Sell to Close leg for your long options and a Buy to Close leg for your short options.&amp;nbsp;&amp;nbsp;You will need the following information which can be obtained from your broker:&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;Sell to Close (Long Options)&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;What was the Fill Price of the Sell to Close order?&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;Buy to Close (Short Options)&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;What was the Fill Price of the Buy to Close order?&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;The following items are NOT REQUIRED, but will let you track time premium you&apos;ve collected and bought back on rolls.&amp;nbsp;You can enter this information later, but it&apos;s easiest to capture stock prices for the MINUTE of your trade closest to the time of the trade.&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;What time of day (minute) did you execute the trade? (Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;What was the high price of the stock in that minute? (MINUTE Stock chart)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;What was the low price of the stock in that minute? (MINUTE Stock chart)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Return_Information_about_Base_Position</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Base_Position_Close_Buy_Short_Option_Top_Position_Contracts_Flow_1</name>
        <label>Base Position - Close/Buy Short Option Top Position Contracts Flow 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Return_Information_about_Base_Position</targetReference>
        </connector>
        <flowName>Base_Position_Close_Buy_Short_Option_Top_Position_Contracts</flowName>
        <inputAssignments>
            <name>varInBasePositionId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInNumShortContractsToClose</name>
            <value>
                <elementReference>Return_Information_about_Base_Position.varOutNumOpenShortContracts</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Close_Long_Position_Contracts</name>
        <label>Close Long Position Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Base_Position_Close_Buy_Short_Option_Top_Position_Contracts_Flow_1</targetReference>
        </connector>
        <flowName>Base_Position_Close_Sell_Long_Call_Bottom_Position_Contracts</flowName>
        <inputAssignments>
            <name>varInBasePositionId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInNumContractsToClose</name>
            <value>
                <elementReference>Return_Information_about_Base_Position.varOutNumOpenLongContracts</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Return_Information_about_Base_Position</name>
        <label>Return Information about Base Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_there_Open_Contracts</targetReference>
        </connector>
        <flowName>Base_Position_Return_Info_for_Base_Position</flowName>
        <inputAssignments>
            <name>varInBasePosition</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Set_Initial_Capital_Invested</name>
        <label>Set Initial Capital Invested</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Base_Position_Get_Initial_Capital_Invested</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
