salesforce-reference/force-app/main/default/flows/Base_Position_Update_Current_Market_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Base Position - Update Current Market Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Base Position - Update Current Market Values</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Base_Position_Information</name>
        <label>Get Base Position Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Long_and_Short_Market_Value_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Base_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Base_Position_with_new_Market_Values</name>
        <label>Update Base Position with new Market Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Long_Position_Current_Value__c</field>
            <value>
                <elementReference>What_would_you_like_to_update_your_Long_Market_value_of_your_Base_Position_to</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Short_Position_Open_Current_Value__c</field>
            <value>
                <elementReference>What_would_you_like_to_update_your_current_Short_Market_value_of_your_Base_Posit</elementReference>
            </value>
        </inputAssignments>
        <object>Base_Position__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Update_Long_and_Short_Market_Value_Screen</name>
        <label>Update Long and Short Market Value Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Base_Position_with_new_Market_Values</targetReference>
        </connector>
        <fields>
            <name>What_would_you_like_to_update_your_Long_Market_value_of_your_Base_Position_to</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Base_Position_Information.Total_Long_Position_Current_Value__c</elementReference>
            </defaultValue>
            <fieldText>What would you like to update your current Long Market value of your Base Position to?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_would_you_like_to_update_your_current_Short_Market_value_of_your_Base_Posit</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Base_Position_Information.Total_Short_Position_Open_Current_Value__c</elementReference>
            </defaultValue>
            <fieldText>What would you like to update your current Short Market value of your Base Position to?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Base_Position_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
