salesforce-reference/force-app/main/default/flows/Base_Position_Open_Initial_Position.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_if_Open_Position_Date_has_a_Value</name>
        <label>Check if Open Position Date has a Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Successful_Base_Position_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Position_Date_has_no_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Newly_Created_Base_Position.Position_Open_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_enter_an_opening_date_for_the_position_Screen</targetReference>
            </connector>
            <label>Open Position Date has no value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Open_with_Stock_or_Options_as_Bottom_Position</name>
        <label>Check Open with Stock or Options as Bottom Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Never_See_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_the_underlying_position_for_this_covered_call_Stock_or_a_Long_Dated_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stock/Equity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stock_Equity_Information_Collected</targetReference>
            </connector>
            <label>Stock/Equity</label>
        </rules>
        <rules>
            <name>Long_Call_Option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_the_underlying_position_for_this_covered_call_Stock_or_a_Long_Dated_Option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Long Call Option</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Long_Call_Options_Information_Screen</targetReference>
            </connector>
            <label>Long Call Option</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>StockOrLongCall</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Stock_or_Long_Call__c</picklistField>
        <picklistObject>Base_Position__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Base Position - Open Initial Position {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Base Position - Open Initial Position</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Base_Position_Record</name>
        <label>Create Base Position Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Open_with_Stock_or_Options_as_Bottom_Position</targetReference>
        </connector>
        <inputAssignments>
            <field>Stock_or_Long_Call__c</field>
            <value>
                <elementReference>Is_the_underlying_position_for_this_covered_call_Stock_or_a_Long_Dated_Option</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticker_Symbol__c</field>
            <value>
                <elementReference>What_is_the_Ticker_Symbol_for_this_position</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Long_Position_Current_Value__c</field>
            <value>
                <elementReference>What_is_the_current_market_value_of_your_long_position</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Short_Position_Open_Current_Value__c</field>
            <value>
                <elementReference>What_is_the_current_market_value_of_your_short_position</elementReference>
            </value>
        </inputAssignments>
        <object>Base_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Newly_Created_Base_Position</name>
        <label>Get Newly Created Base Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Open_Position_Date_has_a_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Base_Position_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Base_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Short_Top_Position_Order_Filled_with_Opening_Date</name>
        <label>Update Short Top Position Order Filled with Opening Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Successful_Base_Position_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Base_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Base_Position_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Date_and_Time_Filled__c</field>
            <value>
                <elementReference>You_have_not_entered_an_opening_date_and_time_for_the_initial_transaction_Please</elementReference>
            </value>
        </inputAssignments>
        <object>Short_Option_Top_Position__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>How_Many_Contracts_Did_You_Open_Screen</name>
        <label>How Many Contracts Did You Open Screen?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Base_Position_Buy_Long_Option_Bottom_Position_Contracts</targetReference>
        </connector>
        <fields>
            <name>How_Many_Bottom_Long_and_Top_Short_Contracts_Did_you_Open</name>
            <dataType>Number</dataType>
            <fieldText>How Many Bottom Long and Top Short Contracts Did you Open?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initial_Base_Position_Information</name>
        <label>Initial Base Position Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Base_Position_Record</targetReference>
        </connector>
        <fields>
            <name>What_is_the_Ticker_Symbol_for_this_position</name>
            <dataType>String</dataType>
            <fieldText>What is the Ticker Symbol for this position?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Is_the_underlying_position_for_this_covered_call_Stock_or_a_Long_Dated_Option</name>
            <choiceReferences>StockOrLongCall</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is the underlying position for this covered call Stock or a Long Dated Option?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>The_Following_Information_is_Optional</name>
            <fieldText>The Following Information is Optional.  It will change but it is useful for calculating ROI at a point in time.</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>The_Following_Information_is_Optional_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_is_the_current_market_value_of_your_long_position</name>
                    <dataType>Currency</dataType>
                    <fieldText>What is the current market value of your long position?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>What_is_the_current_market_value_of_your_short_position</name>
                    <dataType>Currency</dataType>
                    <fieldText>What is the current market value of your short position?  Enter a negative number.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Long_Call_Options_Information_Screen</name>
        <label>Long Call Options Information Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>How_Many_Contracts_Did_You_Open_Screen</targetReference>
        </connector>
        <fields>
            <name>LongCallOptionsInformationDisplay</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;You are about to open an initial Long Call Diagonal Debit Spread/Poor Man&apos;s Covered Call position.  This involves creating a Buy to Open option leg for your underlying long calls, and a Sell to Open leg for the same number of short contracts.  You will need the following information:&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;Long Options&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;How many contracts did you open? (Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;What is the expiration Date of your options? (Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;What is the strike price? (Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;Short Options - For your short options, you will need the following information, which can be obtained from the Order Status or Transaction History of your broker, along with the stock chart.&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What is the expiration Date of your options? (Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What is the strike price? (Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What was the Fill Price of the Sell to Open order?&amp;nbsp;(Transaction History)&lt;/span&gt;&amp;nbsp;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;The following items are NOT REQUIRED, but will let you track time premium you&apos;ve collected and bought back on rolls.&amp;nbsp;You can enter this information later, but it&apos;s easiest to capture stock prices for the MINUTE of your trade closest to the time of the trade.&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What time of day (minute) did you execute the trade? (Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What was the high price of the stock in that minute? (MINUTE Stock chart)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What was the low price of the stock in that minute? (MINUTE Stock chart)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;On the next screen you will begin to enter the information above&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Never_See_Error_Screen</name>
        <label>Never See Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Newly_Created_Base_Position</targetReference>
        </connector>
        <fields>
            <name>NeverSeeErrorDisplay</name>
            <fieldText>&lt;p&gt;You should never see this screen.  It is an error.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Open_Base_Position_Info_Screen</name>
        <label>Open Base Position Info Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Initial_Base_Position_Information</targetReference>
        </connector>
        <fields>
            <name>OpenBasePositionInfoScreen</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;This action will create a new Base Position.&amp;nbsp;You will need the following information&lt;/strong&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What is the Ticker Symbol?&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;Is your underlying position stock or long dated call options?&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;Optionally, you will be able to enter the current market value of your long and short positions.&amp;nbsp;This can easily be entered later and will need to be adjusted many times over the life of the trade.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;After entering this information, you will be prompted for information about your short options and your long position.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_enter_an_opening_date_for_the_position_Screen</name>
        <label>Please enter an opening date for the position Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Short_Top_Position_Order_Filled_with_Opening_Date</targetReference>
        </connector>
        <fields>
            <name>You_have_not_entered_an_opening_date_and_time_for_the_initial_transaction_Please</name>
            <dataType>DateTime</dataType>
            <fieldText>You have not entered an opening date and time for the initial transaction.  Please enter an opening date/time for the entire position.  The date will be used to calculate the time you are in the position.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stock_Equity_Information_Collected</name>
        <label>Stock/Equity Information Collected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Base_Position_Buy_Stock_Share_Bottom_Position</targetReference>
        </connector>
        <fields>
            <name>StockEquityInformationDisplay</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;You are opening an initial covered call position.&amp;nbsp;That involves a Buy leg to purchase your shares and a Sell to Open leg to purchase the short contracts that they are covering.&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;Stock/Equity - you will need the following information:&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;How many shares of stock did you purchase? (Transaction History)&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;NOTE:&amp;nbsp;This number must be divisible by 100.&amp;nbsp;We are only tracking the portion of your portfolio that is covered&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What was the Share Price you purchased them at?&amp;nbsp;(Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;Short Options - For your short options, you will need the following information, which can be obtained from the Order Status or Transaction History of your broker, along with the stock chart.&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;How many contracts did you open? (Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What is the expiration Date of your options? (Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What is the strike price? (Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;What was the Fill Price of the Sell to Open order?&amp;nbsp;(Transaction History)&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;The following items are NOT REQUIRED, but will let you track time premium you&apos;ve collected and bought back on rolls.&amp;nbsp;You can enter this information later, but it&apos;s easiest to capture stock prices for the MINUTE of your trade closest to the time of the trade.&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What time of day (minute) did you execute the trade? (Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What was the high price of the stock in that minute? (MINUTE Stock chart)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What was the low price of the stock in that minute? (MINUTE Stock chart)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;On the next screen you will begin to enter the information above&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successful_Base_Position_Screen</name>
        <label>Successful Base Position Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessfulBasePositionDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You have Successfully Opened your Base Position and Initial Contracts.  Please click the following link to navigate there.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Newly_Created_Base_Position.HyperlinkToBasePositionRecord__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Open_Base_Position_Info_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Base_Position_Buy_Long_Option_Bottom_Position_Contracts</name>
        <label>Base Position - Buy Long Option Bottom Position Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Base_Position_Sell_Short_Top_Position_Contracts</targetReference>
        </connector>
        <flowName>Base_Position_Open_Buy_Long_Option_Bottom_Position_Contracts</flowName>
        <inputAssignments>
            <name>varInBasePositionId</name>
            <value>
                <elementReference>Create_Base_Position_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInNumberOfContractsToOpen</name>
            <value>
                <elementReference>How_Many_Bottom_Long_and_Top_Short_Contracts_Did_you_Open</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Base_Position_Buy_Stock_Share_Bottom_Position</name>
        <label>Base Position - Buy Stock Share Bottom Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Base_Position_Sell_Short_Contracts</targetReference>
        </connector>
        <flowName>Base_Position_Buy_Stock_Share_Bottom_Position</flowName>
        <inputAssignments>
            <name>varInBasePositionId</name>
            <value>
                <elementReference>Create_Base_Position_Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Base_Position_Sell_Short_Contracts</name>
        <label>Base Position - Sell Short Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Newly_Created_Base_Position</targetReference>
        </connector>
        <flowName>Base_Position_Open_Sell_Short_Option_Top_Position_Contracts</flowName>
        <inputAssignments>
            <name>varInBasePositionId</name>
            <value>
                <elementReference>Create_Base_Position_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInNumberOfContractsToOpen</name>
            <value>
                <elementReference>Base_Position_Buy_Stock_Share_Bottom_Position.varOutNumShortContractsNeededToCover</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Base_Position_Sell_Short_Top_Position_Contracts</name>
        <label>Base Position - Sell Short Top Position Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Newly_Created_Base_Position</targetReference>
        </connector>
        <flowName>Base_Position_Open_Sell_Short_Option_Top_Position_Contracts</flowName>
        <inputAssignments>
            <name>varInBasePositionId</name>
            <value>
                <elementReference>Create_Base_Position_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInNumberOfContractsToOpen</name>
            <value>
                <elementReference>How_Many_Bottom_Long_and_Top_Short_Contracts_Did_you_Open</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
