salesforce-reference/force-app/main/default/flows/Base_Position_Return_Info_for_Base_Position.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Output_Variables</name>
        <label>Assign Output Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOutBottomLongPositionExpiration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Most_Recent_Buy_to_Open_Bottom_Option_for_Base_Position.Long_Option_Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOutShortPositionExpiration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Most_Recent_Sell_to_Open_Top_Option_for_Base_Position.Option_Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOutBottomLongPositionStrike</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Most_Recent_Buy_to_Open_Bottom_Option_for_Base_Position.Long_Option_Strike_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOutNumOpenLongContracts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Long_Option_Bottom_Position_Calculate_Open_Contracts_Flow.varOutNumOpenContracts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOutShortPositionStrike</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Most_Recent_Sell_to_Open_Top_Option_for_Base_Position.Option_Strike__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOutTickerSymbol</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Base_Position.Ticker_Symbol__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOutNumOpenShortContracts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Short_Option_Top_Position_Calculate_Open_Contracts_Flow.varOutNumOpenContracts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOutNumberOfEquityShares</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stock_Option_Bottom_Position_Calculate_Shares.varOutNumSharesOwned</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Base Position - Return Info for Base Position {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Base Position - Return Info for Base Position</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Base_Position</name>
        <label>Get Base Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Most_Recent_Sell_to_Open_Top_Option_for_Base_Position</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInBasePosition</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Base_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Buy_to_Open_Bottom_Option_for_Base_Position</name>
        <label>Get Most Recent Buy to Open Bottom Option for Base Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Long_Option_Bottom_Position_Calculate_Open_Contracts_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Base_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInBasePosition</elementReference>
            </value>
        </filters>
        <filters>
            <field>Long_Option_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Buy to Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Long_Option_Bottom_Position__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Sell_to_Open_Top_Option_for_Base_Position</name>
        <label>Get Most Recent Sell to Open Top Option for Base Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Most_Recent_Buy_to_Open_Bottom_Option_for_Base_Position</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Base_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInBasePosition</elementReference>
            </value>
        </filters>
        <filters>
            <field>Option_Action__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sell to Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Short_Option_Top_Position__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Base_Position</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Long_Option_Bottom_Position_Calculate_Open_Contracts_Flow</name>
        <label>Long Option Bottom Position - Calculate Open Contracts Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Short_Option_Top_Position_Calculate_Open_Contracts_Flow</targetReference>
        </connector>
        <flowName>Long_Option_Bottom_Position_Calculate_Open_Contracts</flowName>
        <inputAssignments>
            <name>varInBasePositionId</name>
            <value>
                <elementReference>varInBasePosition</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Short_Option_Top_Position_Calculate_Open_Contracts_Flow</name>
        <label>Short Option Top Position - Calculate Open Contracts Flow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Stock_Option_Bottom_Position_Calculate_Shares</targetReference>
        </connector>
        <flowName>Short_Option_Top_Position_Calculate_Open_Contracts</flowName>
        <inputAssignments>
            <name>varInBasePositionId</name>
            <value>
                <elementReference>varInBasePosition</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Stock_Option_Bottom_Position_Calculate_Shares</name>
        <label>Stock Option Bottom Position - Calculate Shares</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Output_Variables</targetReference>
        </connector>
        <flowName>Stock_Share_Bottom_Position_Calculate_Shares</flowName>
        <inputAssignments>
            <name>varInBasePositionId</name>
            <value>
                <elementReference>varInBasePosition</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varInBasePosition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutBottomLongPositionExpiration</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOutBottomLongPositionStrike</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>varOutNumberOfEquityShares</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOutNumOpenLongContracts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOutNumOpenShortContracts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOutShortPositionExpiration</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOutShortPositionStrike</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>varOutTickerSymbol</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
