salesforce-reference/force-app/main/default/flows/Base_Position_Offer_Choices_for_Underlying_Stock_Share.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>BuySharesAndSellShortContracts</name>
        <choiceText>Open More - Buy Shares and Sell Short Contracts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BuySharesAndSellShortContracts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Close_Options</name>
        <choiceText>Close Top and Bottom Contracts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CloseOptions</stringValue>
        </value>
    </choices>
    <choices>
        <name>OpenMoreContracts</name>
        <choiceText>Open Top and Bottom Contracts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OpenMoreContracts</stringValue>
        </value>
    </choices>
    <choices>
        <name>RollBottomPositionContracts</name>
        <choiceText>Roll Bottom Position Contracts</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RollBottomPositionContracts</elementReference>
        </value>
    </choices>
    <choices>
        <name>RollOptions</name>
        <choiceText>Roll Top Position Contracts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Roll Options</stringValue>
        </value>
    </choices>
    <choices>
        <name>SellShareAndBuyBackShortContracts</name>
        <choiceText>Close Some - Sell Shares and Buy Back Short Contracts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SellSharesAndBuyBackShortContracts</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Option_Action</name>
        <label>Check Option Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Roll_Top_Position_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>With_this_position_do_you_want_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RollOptions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Roll_Top_Position_Short_Contracts</targetReference>
            </connector>
            <label>Roll Top Position Contracts</label>
        </rules>
        <rules>
            <name>Buy_Shares_and_Sell_Short_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>With_this_position_do_you_want_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BuySharesAndSellShortContracts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buy_Shares_and_Sell_Short_Contracts_Subflow</targetReference>
            </connector>
            <label>Buy Shares and Sell Short Contracts</label>
        </rules>
        <rules>
            <name>Sell_Shares_and_Buy_Back_Short_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>With_this_position_do_you_want_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SellShareAndBuyBackShortContracts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sell_Shares_and_Buy_Back_Short_Contracts_Subflow</targetReference>
            </connector>
            <label>Sell Shares and Buy Back Short Contracts</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Base Position - Offer Choices for Underlying Stock Share {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Base Position - Offer Choices for Underlying Stock Share</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Most_Recent_Position_Screen</name>
        <label>Most Recent Position Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Option_Action</targetReference>
        </connector>
        <fields>
            <name>Current_Bottom_Position_Information</name>
            <fieldText>Current Bottom Position Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Current_Bottom_Position_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CurrentBottomPositionDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Number of Equity Shares: {!Get_Information_About_Base_Position.varOutNumberOfEquityShares}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Ticker Symbol:  {!Get_Information_About_Base_Position.varOutTickerSymbol}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Current_Top_Position_Information</name>
            <fieldText>Current Top Position Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Current_Top_Position_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MostRecentTopPosition</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Number of Short Contracts: {!Get_Information_About_Base_Position.varOutNumOpenShortContracts}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Ticker: {!Get_Information_About_Base_Position.varOutTickerSymbol}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Strike:  {!Get_Information_About_Base_Position.varOutShortPositionStrike}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Expiration: {!Get_Information_About_Base_Position.varOutShortPositionExpiration}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>With_this_position_do_you_want_to</name>
            <choiceReferences>RollOptions</choiceReferences>
            <choiceReferences>BuySharesAndSellShortContracts</choiceReferences>
            <choiceReferences>SellShareAndBuyBackShortContracts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>With this position do you want to</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Information_About_Base_Position</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>`</description>
        <name>Buy_Shares_and_Sell_Short_Contracts_Subflow</name>
        <label>Buy Shares and Sell Short Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Base_Position_Buy_Shares_and_Sell_Short_Contracts</flowName>
        <inputAssignments>
            <name>varInBasePositionId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_Information_About_Base_Position</name>
        <label>Get Information About Base Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Most_Recent_Position_Screen</targetReference>
        </connector>
        <flowName>Base_Position_Return_Info_for_Base_Position</flowName>
        <inputAssignments>
            <name>varInBasePosition</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Roll_Top_Position_Short_Contracts</name>
        <label>Roll Top Position Short Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Underlying_Position_Roll_Option_Position</flowName>
        <inputAssignments>
            <name>varInCurrentNumContracts</name>
            <value>
                <elementReference>Get_Information_About_Base_Position.varOutNumOpenShortContracts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInCurrentOptionExpirationDate</name>
            <value>
                <elementReference>Get_Information_About_Base_Position.varOutShortPositionExpiration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInCurrentStrikePrice</name>
            <value>
                <elementReference>Get_Information_About_Base_Position.varOutShortPositionStrike</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInCurrentTickerSymbol</name>
            <value>
                <elementReference>Get_Information_About_Base_Position.varOutTickerSymbol</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInCurrentUnderlyingId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInRollBottomLongOrTopShort</name>
            <value>
                <stringValue>Top Short</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Sell_Shares_and_Buy_Back_Short_Contracts_Subflow</name>
        <label>Sell Shares and Buy Back Short Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Base_Position_Sell_Shares_and_Buy_Short_Contracts</flowName>
        <inputAssignments>
            <name>varInBasePositionId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
