salesforce-reference/force-app/main/default/flows/Base_Position_Close_Sell_Long_Call_Bottom_Position_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Base Position - Close/Sell Long Call Bottom Position Contracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Base Position - Close/Sell Long Call Bottom Position Contracts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Sell_to_Close_Long_Option_Leg</name>
        <label>Create Sell to Close Long Option Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Base_Position__c</field>
            <value>
                <elementReference>varInBasePositionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Action__c</field>
            <value>
                <stringValue>Sell to Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Expiration_Date__c</field>
            <value>
                <elementReference>Get_Information_About_the_Current_Base_Position.varOutBottomLongPositionExpiration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Number_of_Contracts__c</field>
            <value>
                <elementReference>varInNumContractsToClose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Order_Fill_Price__c</field>
            <value>
                <elementReference>What_is_the_Fill_Price_of_the_Sell_to_Close_Long_Option_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Strike_Price__c</field>
            <value>
                <elementReference>Get_Information_About_the_Current_Base_Position.varOutBottomLongPositionStrike</elementReference>
            </value>
        </inputAssignments>
        <object>Long_Option_Bottom_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Close_Long_Contracts_Screen</name>
        <label>Close Long Contracts Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Sell_to_Close_Long_Option_Leg</targetReference>
        </connector>
        <fields>
            <name>What_is_the_Fill_Price_of_the_Sell_to_Close_Long_Option_Order</name>
            <dataType>Currency</dataType>
            <fieldText>What is the Fill Price of the Sell to Close Long Option Order?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Information_About_the_Current_Base_Position</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Information_About_the_Current_Base_Position</name>
        <label>Get Information About the Current Base Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Close_Long_Contracts_Screen</targetReference>
        </connector>
        <flowName>Base_Position_Return_Info_for_Base_Position</flowName>
        <inputAssignments>
            <name>varInBasePosition</name>
            <value>
                <elementReference>varInBasePositionId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varInBasePositionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInNumContractsToClose</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
