salesforce-reference/force-app/main/default/flows/Base_Position_Close_Buy_Short_Option_Top_Position_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Base Position - Close/Buy Short Option Top Position Contracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Base Position - Close/Buy Short Option Top Position Contracts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Buy_To_Close_Short_Option_Leg</name>
        <label>Create Buy To Close Short Option Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Extrinsic_for_BTC_Leg</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Position__c</field>
            <value>
                <elementReference>varInBasePositionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Contracts__c</field>
            <value>
                <elementReference>varInNumShortContractsToClose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Action__c</field>
            <value>
                <stringValue>Buy to Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Expiration_Date__c</field>
            <value>
                <elementReference>Get_Info_About_Current_Base_Position.varOutShortPositionExpiration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Strike__c</field>
            <value>
                <elementReference>Get_Info_About_Current_Base_Position.varOutShortPositionStrike</elementReference>
            </value>
        </inputAssignments>
        <object>Short_Option_Top_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Info_About_Current_Base_Position</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_Extrinsic_for_BTC_Leg</name>
        <label>Calculate Extrinsic for BTC Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Short_Option_Top_Position_Juice_Calculations</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Create_Buy_To_Close_Short_Option_Leg</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varBTCDateOrderFilled</assignToReference>
            <name>varOutDateAndTimeOfOrder</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBTCStockHighPrice</assignToReference>
            <name>varOutHighStockAtTimeOfOrder</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBTCStockLowPrice</assignToReference>
            <name>varOutLowStockAtTimeOfOrder</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Info_About_Current_Base_Position</name>
        <label>Get Info About Current Base Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Buy_To_Close_Short_Option_Leg</targetReference>
        </connector>
        <flowName>Base_Position_Return_Info_for_Base_Position</flowName>
        <inputAssignments>
            <name>varInBasePosition</name>
            <value>
                <elementReference>varInBasePositionId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varBTCDateOrderFilled</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBTCStockHighPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varBTCStockLowPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInBasePositionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInNumShortContractsToClose</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
