salesforce-reference/force-app/main/default/flows/Base_Position_Close_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Number_of_Contracts_to_be_Closed_against_Open_Contracts</name>
        <label>Check Number of Contracts to be Closed against Open Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Sell_to_Close_Long_Option_Leg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closing_More_than_are_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_many_of_the_existing_contracts_would_you_like_to_close</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varInCurrentNumContracts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closing_too_Many_Contracts_Screen</targetReference>
            </connector>
            <label>Closing More than are Open</label>
        </rules>
        <rules>
            <name>Closing_less_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_many_of_the_existing_contracts_would_you_like_to_close</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MustCloseAPositiveNumberOfContracts</targetReference>
            </connector>
            <label>Closing less than 0</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Base Position - Close Contracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Base Position - Close Contracts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Buy_To_Close_Short_Option_Leg</name>
        <label>Create Buy To Close Short Option Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Extrinsic_for_BTC_Leg</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Position__c</field>
            <value>
                <elementReference>varInCurrentUnderlyingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Contracts__c</field>
            <value>
                <elementReference>How_many_of_the_existing_contracts_would_you_like_to_close</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Action__c</field>
            <value>
                <stringValue>Buy to Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Expiration_Date__c</field>
            <value>
                <elementReference>varInCurrentShortOptionExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Strike__c</field>
            <value>
                <elementReference>varInCurrentShortOptionStrikePrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Fill_Price__c</field>
            <value>
                <elementReference>What_is_the_Fill_Price_of_the_Buy_to_Close_Short_Option_Order</elementReference>
            </value>
        </inputAssignments>
        <object>Short_Option_Top_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sell_to_Close_Long_Option_Leg</name>
        <label>Create Sell to Close Long Option Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Buy_To_Close_Short_Option_Leg</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Position__c</field>
            <value>
                <elementReference>varInCurrentUnderlyingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Action__c</field>
            <value>
                <stringValue>Sell to Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Expiration_Date__c</field>
            <value>
                <elementReference>varInCurrentLongOptionExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Number_of_Contracts__c</field>
            <value>
                <elementReference>How_many_of_the_existing_contracts_would_you_like_to_close</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Order_Fill_Price__c</field>
            <value>
                <elementReference>What_is_the_Fill_Price_of_the_Sell_to_Close_Long_Option_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Strike_Price__c</field>
            <value>
                <elementReference>varInCurrentLongOptionStrikePrice</elementReference>
            </value>
        </inputAssignments>
        <object>Long_Option_Bottom_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Close_Contracts_Screen</name>
        <label>Close Contracts Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Number_of_Contracts_to_be_Closed_against_Open_Contracts</targetReference>
        </connector>
        <fields>
            <name>YouHaveThisManyOpenContractsDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You currently have {!varInCurrentNumContracts} open contracts.  In order to continue closing your contracts you will need&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;The Buy to Close Fill Price of the Short Option Order&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;The Sell to Close Fill Price of the Long Option Order&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;The date and time (minute) of the closing transaction&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;The high and low stock price in that minute&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>How_many_of_the_existing_contracts_would_you_like_to_close</name>
            <dataType>Number</dataType>
            <fieldText>How many of the existing contracts would you like to close?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_is_the_Fill_Price_of_the_Buy_to_Close_Short_Option_Order</name>
            <dataType>Currency</dataType>
            <fieldText>What is the Fill Price of the Buy to Close Short Option Order?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_is_the_Fill_Price_of_the_Sell_to_Close_Long_Option_Order</name>
            <dataType>Currency</dataType>
            <fieldText>What is the Fill Price of the Sell to Close Long Option Order?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Closing_too_Many_Contracts_Screen</name>
        <label>Closing too Many Contracts Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClosingTooManyContractsError</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You are trying to lose {!How_many_of_the_existing_contracts_would_you_like_to_close} contracts, but you only have {!varInCurrentNumContracts} open.  Please click Previous and choose a number less than &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!varInCurrentNumContracts} &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MustCloseAPositiveNumberOfContracts</name>
        <label>MustCloseAPositiveNumberOfContracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MustChooseAPositiveNumberDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You must choose a positive number of contracts to close.  Please click Previous to enter a positive number.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Close_Contracts_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_Extrinsic_for_BTC_Leg</name>
        <label>Calculate Extrinsic for BTC Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Short_Option_Top_Position_Juice_Calculations</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Create_Buy_To_Close_Short_Option_Leg</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varBTCDateOrderFilled</assignToReference>
            <name>varOutDateAndTimeOfOrder</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBTCStockHighPrice</assignToReference>
            <name>varOutHighStockAtTimeOfOrder</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBTCStockLowPrice</assignToReference>
            <name>varOutLowStockAtTimeOfOrder</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varBTCDateOrderFilled</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBTCStockHighPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varBTCStockLowPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInCurrentLongOptionExpirationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInCurrentLongOptionStrikePrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>varInCurrentNumContracts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varInCurrentShortOptionExpirationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInCurrentShortOptionStrikePrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>varInCurrentUnderlyingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
