salesforce-reference/force-app/main/default/flows/Base_Position_Open_Buy_Long_Option_Bottom_Position_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Retrieved_Info_to_Variables</name>
        <label>Assign Retrieved Info to Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLongOptionExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Info_for_Base_Position.varOutBottomLongPositionExpiration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLongOptionStrikePrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Return_Info_for_Base_Position.varOutBottomLongPositionStrike</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_More_Contracts_Information_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_Info_to_Variables</name>
        <label>Assign Screen Info to Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varLongOptionExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_Expiration_Date_of_the_Initial_Bottom_Long_Position_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varLongOptionStrikePrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_Strike_Price_of_the_Initial_Bottom_Long_Position_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_More_Contracts_Information_Screen</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_if_Contracts_already_exist</name>
        <label>Check if Contracts already exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Retrieved_Info_to_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contracts Do Exist</defaultConnectorLabel>
        <rules>
            <name>Contracts_do_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Return_Info_for_Base_Position.varOutNumOpenLongContracts</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Initial_Long_Option_Opening_Position_Data</targetReference>
            </connector>
            <label>Contracts Do NOT exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Base Position - Open/Buy Long {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Base Position - Open/Buy Long Option Bottom Position Contracts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Buy_to_Open_Long_Option_Leg</name>
        <label>Create Buy to Open Long Option Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Base_Position__c</field>
            <value>
                <elementReference>varInBasePositionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Action__c</field>
            <value>
                <stringValue>Buy to Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Expiration_Date__c</field>
            <value>
                <elementReference>varLongOptionExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Number_of_Contracts__c</field>
            <value>
                <elementReference>varInNumberOfContractsToOpen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Order_Fill_Price__c</field>
            <value>
                <elementReference>What_is_the_Fill_Price_of_the_Buy_to_Open_Long_Option_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Strike_Price__c</field>
            <value>
                <elementReference>varLongOptionStrikePrice</elementReference>
            </value>
        </inputAssignments>
        <object>Long_Option_Bottom_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Get_Initial_Long_Option_Opening_Position_Data</name>
        <label>Get Initial Long Option Opening Position Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Screen_Info_to_Variables</targetReference>
        </connector>
        <fields>
            <name>Bottom_Long_Position_Information</name>
            <fieldText>Bottom Long Position Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Bottom_Long_Position_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_is_the_Strike_Price_of_the_Initial_Bottom_Long_Position_Order</name>
                    <dataType>Number</dataType>
                    <fieldText>What is the Strike Price of the Initial Bottom Long Position Order?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>What_is_the_Expiration_Date_of_the_Initial_Bottom_Long_Position_Order</name>
                    <dataType>Date</dataType>
                    <fieldText>What is the Expiration Date of the Initial Bottom Long Position Order</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Open_More_Contracts_Information_Screen</name>
        <label>Open More Contracts Information Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Buy_to_Open_Long_Option_Leg</targetReference>
        </connector>
        <fields>
            <name>What_is_the_Fill_Price_of_the_Buy_to_Open_Long_Option_Order</name>
            <dataType>Currency</dataType>
            <fieldText>What is the Fill Price of the Buy to Open Long Option Order?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Return_Info_for_Base_Position</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Return_Info_for_Base_Position</name>
        <label>Return Info for Base Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Contracts_already_exist</targetReference>
        </connector>
        <flowName>Base_Position_Return_Info_for_Base_Position</flowName>
        <inputAssignments>
            <name>varInBasePosition</name>
            <value>
                <elementReference>varInBasePositionId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varInBasePositionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInNumberOfContractsToOpen</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varLongOptionExpirationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLongOptionStrikePrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
</Flow>
