salesforce-reference/force-app/main/default/flows/Base_Postition_Open_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Collected_Values_to_Variables</name>
        <label>Assign Collected Values to Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInCurrentLongOptionExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_Expiration_Date_of_the_Initial_Bottom_Long_Position_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInCurrentShortOptionExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_Expiration_Date_of_the_Initial_Top_Short_Position_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInCurrentLongOptionStrikePrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_Strike_Price_of_the_Initial_Bottom_Long_Position_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInCurrentShortOptionStrikePrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_Strike_Price_of_the_Initial_Top_Short_Position_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_More_Contracts_Information_Screen</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_if_Contracts_already_exist</name>
        <label>Check if Contracts already exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Open_More_Contracts_Information_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contracts_do_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInCurrentLongOptionStrikePrice</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Initial_Opening_Position_Data</targetReference>
            </connector>
            <label>Contracts do not exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Base Postition - Open Contracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Base Postition - Open Contracts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Buy_to_Open_Long_Option_Leg</name>
        <label>Create Buy to Open Long Option Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Sell_to_Open_Short_Option_Leg</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Position__c</field>
            <value>
                <elementReference>varInCurrentUnderlyingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Action__c</field>
            <value>
                <stringValue>Buy to Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Expiration_Date__c</field>
            <value>
                <elementReference>varInCurrentLongOptionExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Number_of_Contracts__c</field>
            <value>
                <elementReference>How_many_contracts_would_you_like_to_open</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Order_Fill_Price__c</field>
            <value>
                <elementReference>What_is_the_Fill_Price_of_the_Buy_to_Open_Long_Option_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Strike_Price__c</field>
            <value>
                <elementReference>varInCurrentLongOptionStrikePrice</elementReference>
            </value>
        </inputAssignments>
        <object>Long_Option_Bottom_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sell_to_Open_Short_Option_Leg</name>
        <label>Create Sell to Open Short Option Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Extrinsic_for_STO_Leg</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Position__c</field>
            <value>
                <elementReference>varInCurrentUnderlyingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Contracts__c</field>
            <value>
                <elementReference>How_many_contracts_would_you_like_to_open</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Action__c</field>
            <value>
                <stringValue>Sell to Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Expiration_Date__c</field>
            <value>
                <elementReference>varInCurrentShortOptionExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Strike__c</field>
            <value>
                <elementReference>varInCurrentShortOptionStrikePrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Fill_Price__c</field>
            <value>
                <elementReference>What_is_the_Fill_Price_of_the_Sell_to_Open_Short_Option_Order</elementReference>
            </value>
        </inputAssignments>
        <object>Short_Option_Top_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Get_Initial_Opening_Position_Data</name>
        <label>Get Initial Opening Position Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Collected_Values_to_Variables</targetReference>
        </connector>
        <fields>
            <name>Bottom_Long_Position_Information</name>
            <fieldText>Bottom Long Position Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Bottom_Long_Position_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_is_the_Strike_Price_of_the_Initial_Bottom_Long_Position_Order</name>
                    <dataType>Number</dataType>
                    <fieldText>What is the Strike Price of the Initial Bottom Long Position Order?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>What_is_the_Expiration_Date_of_the_Initial_Bottom_Long_Position_Order</name>
                    <dataType>Date</dataType>
                    <fieldText>What is the Expiration Date of the Initial Bottom Long Position Order</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Top_Short_Option_Position_Information</name>
            <fieldText>Top Short Option Position Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Top_Short_Option_Position_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_is_the_Strike_Price_of_the_Initial_Top_Short_Position_Order</name>
                    <dataType>Number</dataType>
                    <fieldText>What is the Strike Price of the Initial Top Short Position Order?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>What_is_the_Expiration_Date_of_the_Initial_Top_Short_Position_Order</name>
                    <dataType>Date</dataType>
                    <fieldText>What is the Expiration Date of the Initial Top Short Position Order?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Open_More_Contracts_Information_Screen</name>
        <label>Open More Contracts Information Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Buy_to_Open_Long_Option_Leg</targetReference>
        </connector>
        <fields>
            <name>How_many_contracts_would_you_like_to_open</name>
            <dataType>Number</dataType>
            <fieldText>How many contracts would you like to open?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_is_the_Fill_Price_of_the_Sell_to_Open_Short_Option_Order</name>
            <dataType>Currency</dataType>
            <fieldText>What is the Fill Price of the Sell to Open Short Option Order?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_is_the_Fill_Price_of_the_Buy_to_Open_Long_Option_Order</name>
            <dataType>Currency</dataType>
            <fieldText>What is the Fill Price of the Buy to Open Long Option Order?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Contracts_already_exist</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_Extrinsic_for_STO_Leg</name>
        <label>Calculate Extrinsic for STO Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Short_Option_Top_Position_Juice_Calculations</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Create_Sell_to_Open_Short_Option_Leg</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varBTCDateOrderFilled</assignToReference>
            <name>varOutDateAndTimeOfOrder</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBTCStockHighPrice</assignToReference>
            <name>varOutHighStockAtTimeOfOrder</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBTCStockLowPrice</assignToReference>
            <name>varOutLowStockAtTimeOfOrder</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varBTCDateOrderFilled</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBTCStockHighPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varBTCStockLowPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInCurrentLongOptionExpirationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInCurrentLongOptionStrikePrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>varInCurrentShortOptionExpirationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInCurrentShortOptionStrikePrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>varInCurrentUnderlyingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
