salesforce-reference/force-app/main/default/flows/Base_Position_Sell_Stock_Share_Bottom_Position.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Output_Short_Contracts_Needed</name>
        <label>Assign Output Short Contracts Needed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOutNumShortContractsNeededToCover</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formSharesDividedBy100</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Stock_Share_Bottom_Position_Record</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_if_Stock_Shares_Divide_By_100</name>
        <label>Check if Stock Shares Divide By 100</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Need_To_Divide_Shares_by_100_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Shares do not Divide By 100</defaultConnectorLabel>
        <rules>
            <name>Shares_Divide_By_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formSharesMod100</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Output_Short_Contracts_Needed</targetReference>
            </connector>
            <label>Shares Divide By 100</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formSharesDividedBy100</name>
        <dataType>Number</dataType>
        <expression>{!How_many_shares_of_stock_did_you_sell} / 100</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>formSharesMod100</name>
        <dataType>Number</dataType>
        <expression>MOD({!How_many_shares_of_stock_did_you_sell},100)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Base Position - Sell Stock Share Bottom Position {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Base Position - Sell Stock Share Bottom Position</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Stock_Share_Bottom_Position_Record</name>
        <label>Create Stock Share Bottom Position Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Base_Position__c</field>
            <value>
                <elementReference>varInBasePositionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Shares__c</field>
            <value>
                <elementReference>How_many_shares_of_stock_did_you_sell</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stock_Share_Action__c</field>
            <value>
                <stringValue>Sell</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stock_Share_Price__c</field>
            <value>
                <elementReference>What_was_the_share_price_you_sold_them_at</elementReference>
            </value>
        </inputAssignments>
        <object>Stock_Share_Bottom_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Need_To_Divide_Shares_by_100_Screen</name>
        <label>Need To Divide Shares by 100 Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Sell_Shares_Screen</targetReference>
        </connector>
        <fields>
            <name>EnterSharesDividingBy100</name>
            <fieldText>&lt;p&gt;Please enter a number of shares that can be divided evenly by 100.  We are only tracking the part of your portfolio that is covered by short options contracts&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sell_Shares_Screen</name>
        <label>Sell Shares Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_Stock_Shares_Divide_By_100</targetReference>
        </connector>
        <fields>
            <name>How_many_shares_of_stock_did_you_sell</name>
            <dataType>Number</dataType>
            <fieldText>How many shares of stock did you sell?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_was_the_share_price_you_sold_them_at</name>
            <dataType>Currency</dataType>
            <fieldText>What was the share price you sold them at?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Information_about_Base_Position</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Information_about_Base_Position</name>
        <label>Get Information about Base Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sell_Shares_Screen</targetReference>
        </connector>
        <flowName>Base_Position_Return_Info_for_Base_Position</flowName>
        <inputAssignments>
            <name>varInBasePosition</name>
            <value>
                <elementReference>varInBasePositionId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varInBasePositionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutNumShortContractsNeededToCover</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
