salesforce-reference/force-app/main/default/flows/Base_Position_Buy_Shares_and_Sell_Short_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Base Position - Open More {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Base Position - Buy Shares and Sell Short Contracts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Buy_Shares_and_Sell_Short_Contracts_Information_Screen</name>
        <label>Buy Shares and Sell Short Contracts Information Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Buy_Stock_Share_Bottom_Position</targetReference>
        </connector>
        <fields>
            <name>BuySharesAndSellShortContractsInformationDisplay</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;You are about to Buy more shares and Sell more Top contracts at the same Strike Price and Expiration as your current open contracts.&amp;nbsp;This will create a Buy leg for your Stock Shares and a Sell to Open leg for your short options.&amp;nbsp;You will need the following information &lt;/span&gt;which can be obtained from your broker&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;:&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;Buy Stock Shares&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;How many shares of stock did you purchase? (Transaction History)&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;NOTE:&amp;nbsp;This number must be divisible by 100.&amp;nbsp;We are only tracking the portion of your portfolio that is covered&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What was the Share Price you purchased them at?&amp;nbsp;(Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;Sell to Open (Short Options)&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What was the Fill Price of the Sell to Open order?  &lt;/span&gt;&amp;nbsp;(Transaction History)&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;The following items are NOT REQUIRED, but will let you track time premium you&apos;ve collected and bought back on rolls.&amp;nbsp;You can enter this information later, but it&apos;s easiest to capture stock prices for the MINUTE of your trade closest to the time of the trade.&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What time of day (minute) did you execute the trade? (Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What was the high price of the stock in that minute? (MINUTE Stock chart)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What was the low price of the stock in that minute? (MINUTE Stock chart)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buy_Shares_and_Sell_Short_Contracts_Information_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Buy_Stock_Share_Bottom_Position</name>
        <label>Buy Stock Share Bottom Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sell_Top_Position_Short_Contracts</targetReference>
        </connector>
        <flowName>Base_Position_Buy_Stock_Share_Bottom_Position</flowName>
        <inputAssignments>
            <name>varInBasePositionId</name>
            <value>
                <elementReference>varInBasePositionId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Sell_Top_Position_Short_Contracts</name>
        <label>Sell Top Position Short Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Base_Position_Open_Sell_Short_Option_Top_Position_Contracts</flowName>
        <inputAssignments>
            <name>varInBasePositionId</name>
            <value>
                <elementReference>varInBasePositionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInNumberOfContractsToOpen</name>
            <value>
                <elementReference>Buy_Stock_Share_Bottom_Position.varOutNumShortContractsNeededToCover</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varInBasePositionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
