salesforce-reference/force-app/main/default/flows/Long_Option_Bottom_Position_Calculate_Open_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Decrement_the_Number_of_Open_Contracts</name>
        <label>Decrement the Number of Open Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOutNumOpenContracts</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Loop_through_Open_Contracts.Long_Option_Number_of_Contracts__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Open_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_the_Number_of_Open_Contracts</name>
        <label>Increment the Number of Open Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOutNumOpenContracts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Open_Contracts.Long_Option_Number_of_Contracts__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Open_Contracts</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Is_this_a_Buy_To_Open</name>
        <label>Is this a Buy To Open?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decrement_the_Number_of_Open_Contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sell to Close</defaultConnectorLabel>
        <rules>
            <name>Buy_To_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Open_Contracts.Long_Option_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buy to Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_the_Number_of_Open_Contracts</targetReference>
            </connector>
            <label>Buy To Open</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Long Option Bottom Position - Calculate Open Contracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Long Option Bottom Position - Calculate Open Contracts</label>
    <loops>
        <name>Loop_through_Open_Contracts</name>
        <label>Loop through Open Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Long_Option_Bottom_Position_Related_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_this_a_Buy_To_Open</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Long_Option_Bottom_Position_Related_Records</name>
        <label>Get Long Option Bottom Position Related Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Open_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Base_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInBasePositionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Long_Option_Bottom_Position__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Long_Option_Bottom_Position_Related_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varInBasePositionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutNumOpenContracts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
