salesforce-reference/force-app/main/default/flows/Short_Option_Top_Position_Juice_Calculations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Output_Variables</name>
        <label>Assign Output Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOutDateAndTimeOfOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_Date_and_Time_was_the_ABOVE_Order_Filled</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOutHighStockAtTimeOfOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>According_to_the_minute_chart_what_was_the_HIGH_price_of_the_stock_at_the_time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOutLowStockAtTimeOfOrder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>According_to_the_minute_chart_what_was_the_LOW_price_of_the_stock_at_the_time</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>Short Option Top Position - Extrinsic Calculations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Short Option Top Position - Extrinsic Calculations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Short_Option_Top_Position_Information</name>
        <label>Get Short Option Top Position Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Extrinsic_For_Top_Position_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Short_Option_Top_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Record</name>
        <label>Update Parent Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Output_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Date_and_Time_Filled__c</field>
            <value>
                <elementReference>What_Date_and_Time_was_the_ABOVE_Order_Filled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Fill_Price__c</field>
            <value>
                <elementReference>What_was_the_Fill_Price_of_the_ABOVE_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stock_Price_High_When_Order_Filled__c</field>
            <value>
                <elementReference>According_to_the_minute_chart_what_was_the_HIGH_price_of_the_stock_at_the_time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stock_Price_Low_When_Order_Filled__c</field>
            <value>
                <elementReference>According_to_the_minute_chart_what_was_the_LOW_price_of_the_stock_at_the_time</elementReference>
            </value>
        </inputAssignments>
        <object>Short_Option_Top_Position__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Calculate_Extrinsic_For_Top_Position_Screen</name>
        <label>Calculate Extrinsic For Top Position Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Parent_Record</targetReference>
        </connector>
        <fields>
            <name>SOTPDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Option Action: {!Get_Short_Option_Top_Position_Information.Option_Action__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Ticker: {!Get_Short_Option_Top_Position_Information.Ticker_Symbol__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Num Contracts: {!Get_Short_Option_Top_Position_Information.Number_of_Contracts__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Strike Price: {!Get_Short_Option_Top_Position_Information.Option_Strike__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Expiration: {!Get_Short_Option_Top_Position_Information.Option_Expiration_Date__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_was_the_Fill_Price_of_the_ABOVE_Order</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Short_Option_Top_Position_Information.Order_Fill_Price__c</elementReference>
            </defaultValue>
            <fieldText>What was the Fill Price of the ABOVE Order?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>3</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_Date_and_Time_was_the_ABOVE_Order_Filled</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Get_Short_Option_Top_Position_Information.Order_Date_and_Time_Filled__c</elementReference>
            </defaultValue>
            <fieldText>What Date and Time was the ABOVE Order Filled?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>According_to_the_minute_chart_what_was_the_HIGH_price_of_the_stock_at_the_time</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Short_Option_Top_Position_Information.Stock_Price_High_When_Order_Filled__c</elementReference>
            </defaultValue>
            <fieldText>According to the minute chart, what was the HIGH price of the stock at the time?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>According_to_the_minute_chart_what_was_the_LOW_price_of_the_stock_at_the_time</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Short_Option_Top_Position_Information.Stock_Price_Low_When_Order_Filled__c</elementReference>
            </defaultValue>
            <fieldText>According to the minute chart, what was the LOW price of the stock at the time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Short_Option_Top_Position_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInHighStockAtTimeOfOrder</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInLowStockAtTimeOfOrder</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInNumContracts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInOrderDateAndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutDateAndTimeOfOrder</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOutHighStockAtTimeOfOrder</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOutLowStockAtTimeOfOrder</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
