salesforce-reference/force-app/main/default/flows/Underlying_Position_Separate_Short_Option_Top_Position_Into_Groups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Open_Contracts</name>
        <label>Add to Open Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOpenContracts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Short_Option_Top_Position_Records.Number_of_Contracts__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_Group_Number_to_Short_Position</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Group_Number_to_Short_Position</name>
        <label>Assign Current Group Number to Short Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Short_Option_Top_Position_Records.Group_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGroupNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Short_Position_With_Group_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Group_Number</name>
        <label>Increment Group Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varGroupNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Short_Option_Top_Position_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_Open_Contracts</name>
        <label>Subtract Open Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOpenContracts</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Loop_Short_Option_Top_Position_Records.Number_of_Contracts__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_Group_Number_to_Short_Position</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Add_or_Subtract_Contracts</name>
        <label>Check Add or Subtract Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error - Should be either STO or BTC</defaultConnectorLabel>
        <rules>
            <name>Sell_to_Open_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Short_Option_Top_Position_Records.Option_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sell to Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Open_Contracts</targetReference>
            </connector>
            <label>Sell to Open - Add</label>
        </rules>
        <rules>
            <name>Buy_to_Close_Subtract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Short_Option_Top_Position_Records.Option_Action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buy to Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtract_Open_Contracts</targetReference>
            </connector>
            <label>Buy to Close - Subtract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Open_Contracts_Now</name>
        <label>Check Open Contracts Now</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Short_Option_Top_Position_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0_Open_Contracts_Remaining</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOpenContracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Group_Number</targetReference>
            </connector>
            <label>0 Open Contracts Remaining</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Underlying Position - Separate Short Option Top Position Into Groups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Base Position - Separate Short Option Top Position Into Groups</label>
    <loops>
        <name>Loop_Short_Option_Top_Position_Records</name>
        <label>Loop Short Option Top Position Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Short_Option_Top_Positions_for_Underlying</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Add_or_Subtract_Contracts</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Short_Option_Top_Positions_for_Underlying</name>
        <label>Get Short Option Top Positions for Underlying</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Short_Option_Top_Position_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Base_Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Short_Option_Top_Position__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Short_Position_With_Group_Number</name>
        <label>Update Short Position With Group Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Show_Current_Position_and_Group_Number</targetReference>
        </connector>
        <inputReference>Loop_Short_Option_Top_Position_Records</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Current_Group_Number_to_Short_Position</targetReference>
        </connector>
        <fields>
            <name>ErrorActionEitherBTCOrSTO</name>
            <fieldText>&lt;p&gt;Option Action is neither STO nor BTC - this is an Error&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Current_Position_and_Group_Number</name>
        <label>Show Current Position and Group Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Open_Contracts_Now</targetReference>
        </connector>
        <fields>
            <name>CurrentPositionAndGroupNumber</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!Loop_Short_Option_Top_Position_Records.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Option Action: &lt;/strong&gt;{!Loop_Short_Option_Top_Position_Records.Option_Action__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Number of Contracts: &lt;/strong&gt;{!Loop_Short_Option_Top_Position_Records.Number_of_Contracts__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Group Number: &lt;/strong&gt;{!Loop_Short_Option_Top_Position_Records.Group_Number__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Short_Option_Top_Positions_for_Underlying</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGroupNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varOpenContracts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
