salesforce-reference/force-app/main/default/flows/Underlying_Position_Option_Contracts_Close.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Collected_Values_to_Variables</name>
        <label>Assign Collected Values to Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varInCurrentLongOptionExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_Expiration_Date_of_the_Initial_Bottom_Long_Position_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInCurrentShortOptionExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_Expiration_Date_of_the_Initial_Top_Short_Position_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInCurrentLongOptionStrikePrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_Strike_Price_of_the_Initial_Bottom_Long_Position_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInCurrentShortOptionStrikePrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_is_the_Strike_Price_of_the_Initial_Top_Short_Position_Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_More_Contracts_Information_Screen</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_if_Contracts_already_exist</name>
        <label>Check if Contracts already exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Open_More_Contracts_Information_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contracts_do_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInCurrentLongOptionStrikePrice</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Initial_Opening_Position_Data</targetReference>
            </connector>
            <label>Contracts do not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Number_of_Contracts_to_be_Closed_against_Open_Contracts</name>
        <label>Check Number of Contracts to be Closed against Open Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Sell_to_Close_Long_Option_Leg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closing_More_than_are_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_many_of_the_existing_contracts_would_you_like_to_close</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varInCurrentNumContracts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closing_too_Many_Contracts_Screen</targetReference>
            </connector>
            <label>Closing More than are Open</label>
        </rules>
        <rules>
            <name>Closing_less_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_many_of_the_existing_contracts_would_you_like_to_close</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MustCloseAPositiveNumberOfContracts</targetReference>
            </connector>
            <label>Closing less than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Or_Close_Contracts</name>
        <label>Open Or Close Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>ERROR_should_either_Open_or_Close_Contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ERROR Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInOpenOrCloseContracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open Contracts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Contracts_already_exist</targetReference>
            </connector>
            <label>Open Contracts</label>
        </rules>
        <rules>
            <name>Close_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInOpenOrCloseContracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close Contracts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Contracts_Screen</targetReference>
            </connector>
            <label>Close Contracts</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Underlying Position - Option Contracts - Close {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Base Position - DEPRECATING Option Contracts - Close or Open</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Buy_To_Close_Short_Option_Leg</name>
        <label>Create Buy To Close Short Option Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Extrinsic_for_BTC_Leg</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Position__c</field>
            <value>
                <elementReference>varInCurrentUnderlyingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Contracts__c</field>
            <value>
                <elementReference>How_many_of_the_existing_contracts_would_you_like_to_close</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Action__c</field>
            <value>
                <stringValue>Buy to Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Expiration_Date__c</field>
            <value>
                <elementReference>varInCurrentShortOptionExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Strike__c</field>
            <value>
                <elementReference>varInCurrentShortOptionStrikePrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Fill_Price__c</field>
            <value>
                <elementReference>What_is_the_Fill_Price_of_the_Buy_to_Close_Short_Option_Order</elementReference>
            </value>
        </inputAssignments>
        <object>Short_Option_Top_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Buy_to_Open_Long_Option_Leg</name>
        <label>Create Buy to Open Long Option Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Sell_to_Open_Short_Option_Leg</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Position__c</field>
            <value>
                <elementReference>varInCurrentUnderlyingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Action__c</field>
            <value>
                <stringValue>Buy to Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Expiration_Date__c</field>
            <value>
                <elementReference>varInCurrentLongOptionExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Number_of_Contracts__c</field>
            <value>
                <elementReference>How_many_contracts_would_you_like_to_open</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Order_Fill_Price__c</field>
            <value>
                <elementReference>What_is_the_Fill_Price_of_the_Buy_to_Open_Long_Option_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Strike_Price__c</field>
            <value>
                <elementReference>varInCurrentLongOptionStrikePrice</elementReference>
            </value>
        </inputAssignments>
        <object>Long_Option_Bottom_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sell_to_Close_Long_Option_Leg</name>
        <label>Create Sell to Close Long Option Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Buy_To_Close_Short_Option_Leg</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Position__c</field>
            <value>
                <elementReference>varInCurrentUnderlyingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Action__c</field>
            <value>
                <stringValue>Sell to Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Expiration_Date__c</field>
            <value>
                <elementReference>varInCurrentLongOptionExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Number_of_Contracts__c</field>
            <value>
                <elementReference>How_many_of_the_existing_contracts_would_you_like_to_close</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Order_Fill_Price__c</field>
            <value>
                <elementReference>What_is_the_Fill_Price_of_the_Sell_to_Close_Long_Option_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Strike_Price__c</field>
            <value>
                <elementReference>varInCurrentLongOptionStrikePrice</elementReference>
            </value>
        </inputAssignments>
        <object>Long_Option_Bottom_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sell_to_Open_Short_Option_Leg</name>
        <label>Create Sell to Open Short Option Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Extrinsic_for_STO_Leg</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Position__c</field>
            <value>
                <elementReference>varInCurrentUnderlyingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Contracts__c</field>
            <value>
                <elementReference>How_many_contracts_would_you_like_to_open</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Action__c</field>
            <value>
                <stringValue>Sell to Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Expiration_Date__c</field>
            <value>
                <elementReference>varInCurrentShortOptionExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Strike__c</field>
            <value>
                <elementReference>varInCurrentShortOptionStrikePrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Fill_Price__c</field>
            <value>
                <elementReference>What_is_the_Fill_Price_of_the_Sell_to_Open_Short_Option_Order</elementReference>
            </value>
        </inputAssignments>
        <object>Short_Option_Top_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Close_Contracts_Screen</name>
        <label>Close Contracts Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Number_of_Contracts_to_be_Closed_against_Open_Contracts</targetReference>
        </connector>
        <fields>
            <name>YouHaveThisManyOpenContractsDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You currently have {!varInCurrentNumContracts} open contracts.  In order to continue closing your contracts you will need&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;The Buy to Close Fill Price of the Short Option Order&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;The Sell to Close Fill Price of the Long Option Order&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;The date and time (minute) of the closing transaction&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;The high and low stock price in that minute&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>How_many_of_the_existing_contracts_would_you_like_to_close</name>
            <dataType>Number</dataType>
            <fieldText>How many of the existing contracts would you like to close?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_is_the_Fill_Price_of_the_Buy_to_Close_Short_Option_Order</name>
            <dataType>Currency</dataType>
            <fieldText>What is the Fill Price of the Buy to Close Short Option Order?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_is_the_Fill_Price_of_the_Sell_to_Close_Long_Option_Order</name>
            <dataType>Currency</dataType>
            <fieldText>What is the Fill Price of the Sell to Close Long Option Order?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Closing_too_Many_Contracts_Screen</name>
        <label>Closing too Many Contracts Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClosingTooManyContractsError</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You are trying to lose {!How_many_of_the_existing_contracts_would_you_like_to_close} contracts, but you only have {!varInCurrentNumContracts} open.  Please click Previous and choose a number less than &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!varInCurrentNumContracts} &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ERROR_should_either_Open_or_Close_Contracts</name>
        <label>ERROR - should either Open or Close Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ERROROpenOrClose</name>
            <fieldText>&lt;p&gt;This is an error.  You should either be opening or closing contracts.  You should never see this screen&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Initial_Opening_Position_Data</name>
        <label>Get Initial Opening Position Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Collected_Values_to_Variables</targetReference>
        </connector>
        <fields>
            <name>Bottom_Long_Position_Information</name>
            <fieldText>Bottom Long Position Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Bottom_Long_Position_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_is_the_Strike_Price_of_the_Initial_Bottom_Long_Position_Order</name>
                    <dataType>Number</dataType>
                    <fieldText>What is the Strike Price of the Initial Bottom Long Position Order?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>What_is_the_Expiration_Date_of_the_Initial_Bottom_Long_Position_Order</name>
                    <dataType>Date</dataType>
                    <fieldText>What is the Expiration Date of the Initial Bottom Long Position Order</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Top_Short_Option_Position_Information</name>
            <fieldText>Top Short Option Position Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Top_Short_Option_Position_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_is_the_Strike_Price_of_the_Initial_Top_Short_Position_Order</name>
                    <dataType>Number</dataType>
                    <fieldText>What is the Strike Price of the Initial Top Short Position Order?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>What_is_the_Expiration_Date_of_the_Initial_Top_Short_Position_Order</name>
                    <dataType>Date</dataType>
                    <fieldText>What is the Expiration Date of the Initial Top Short Position Order?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MustCloseAPositiveNumberOfContracts</name>
        <label>MustCloseAPositiveNumberOfContracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MustChooseAPositiveNumberDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You must choose a positive number of contracts to close.  Please click Previous to enter a positive number.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Open_More_Contracts_Information_Screen</name>
        <label>Open More Contracts Information Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Buy_to_Open_Long_Option_Leg</targetReference>
        </connector>
        <fields>
            <name>How_many_contracts_would_you_like_to_open</name>
            <dataType>Number</dataType>
            <fieldText>How many contracts would you like to open?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_is_the_Fill_Price_of_the_Sell_to_Open_Short_Option_Order</name>
            <dataType>Currency</dataType>
            <fieldText>What is the Fill Price of the Sell to Open Short Option Order?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_is_the_Fill_Price_of_the_Buy_to_Open_Long_Option_Order</name>
            <dataType>Currency</dataType>
            <fieldText>What is the Fill Price of the Buy to Open Long Option Order?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Open_Or_Close_Contracts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Calculate_Extrinsic_for_BTC_Leg</name>
        <label>Calculate Extrinsic for BTC Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Short_Option_Top_Position_Juice_Calculations</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Create_Buy_To_Close_Short_Option_Leg</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varBTCDateOrderFilled</assignToReference>
            <name>varOutDateAndTimeOfOrder</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBTCStockHighPrice</assignToReference>
            <name>varOutHighStockAtTimeOfOrder</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBTCStockLowPrice</assignToReference>
            <name>varOutLowStockAtTimeOfOrder</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Calculate_Extrinsic_for_STO_Leg</name>
        <label>Calculate Extrinsic for STO Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Short_Option_Top_Position_Juice_Calculations</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Create_Sell_to_Open_Short_Option_Leg</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varBTCDateOrderFilled</assignToReference>
            <name>varOutDateAndTimeOfOrder</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBTCStockHighPrice</assignToReference>
            <name>varOutHighStockAtTimeOfOrder</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBTCStockLowPrice</assignToReference>
            <name>varOutLowStockAtTimeOfOrder</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varBTCDateOrderFilled</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBTCStockHighPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varBTCStockLowPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInCurrentLongOptionExpirationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInCurrentLongOptionStrikePrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>varInCurrentNumContracts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varInCurrentShortOptionExpirationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInCurrentShortOptionStrikePrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>varInCurrentTickerSymbol</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInCurrentUnderlyingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInOpenOrCloseContracts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Close Contracts</stringValue>
        </value>
    </variables>
</Flow>
