salesforce-reference/force-app/main/default/flows/Underlying_Position_Roll_Option_Position.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Roll_Bottom_or_Top</name>
        <label>Roll Bottom or Top</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Top_Short</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInRollBottomLongOrTopShort</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Top Short</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Roll_Top_Short_Contracts_Information_Screen</targetReference>
            </connector>
            <label>Top Short</label>
        </rules>
        <rules>
            <name>Bottom_Long</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInRollBottomLongOrTopShort</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bottom Long</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Roll_Bottom_Long_Position_Information_Screen</targetReference>
            </connector>
            <label>Bottom Long</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Underlying Position - Roll Option Position {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Underlying Position - Option Contracts - Roll</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Buy_To_Close_Short_Option_Leg</name>
        <label>Create Buy To Close Short Option Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Extrinsic_for_BTC_Leg</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Position__c</field>
            <value>
                <elementReference>varInCurrentUnderlyingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Contracts__c</field>
            <value>
                <elementReference>varInCurrentNumContracts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Action__c</field>
            <value>
                <stringValue>Buy to Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Expiration_Date__c</field>
            <value>
                <elementReference>varInCurrentOptionExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Strike__c</field>
            <value>
                <elementReference>varInCurrentStrikePrice</elementReference>
            </value>
        </inputAssignments>
        <object>Short_Option_Top_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Buy_to_Open_Long_Option_Leg</name>
        <label>Create Buy to Open Long Option Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Base_Position__c</field>
            <value>
                <elementReference>varInCurrentUnderlyingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Action__c</field>
            <value>
                <stringValue>Buy to Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Expiration_Date__c</field>
            <value>
                <elementReference>What_is_the_new_Long_Option_Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Number_of_Contracts__c</field>
            <value>
                <elementReference>varInCurrentNumContracts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Order_Fill_Price__c</field>
            <value>
                <elementReference>What_was_the_Fill_Price_of_the_Buy_to_Open_Option_order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Strike_Price__c</field>
            <value>
                <elementReference>What_is_the_new_Long_Option_Strike_Price</elementReference>
            </value>
        </inputAssignments>
        <object>Long_Option_Bottom_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sell_to_Close_Long_Option_Leg</name>
        <label>Create Sell to Close Long Option Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pause_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Position__c</field>
            <value>
                <elementReference>varInCurrentUnderlyingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Action__c</field>
            <value>
                <stringValue>Sell to Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Expiration_Date__c</field>
            <value>
                <elementReference>varInCurrentOptionExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Number_of_Contracts__c</field>
            <value>
                <elementReference>varInCurrentNumContracts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Order_Fill_Price__c</field>
            <value>
                <elementReference>What_was_the_Fill_Price_of_the_Sell_to_Close_Option_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Long_Option_Strike_Price__c</field>
            <value>
                <elementReference>varInCurrentStrikePrice</elementReference>
            </value>
        </inputAssignments>
        <object>Long_Option_Bottom_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sell_to_Open_Short_Option_Leg</name>
        <label>Create Sell to Open Short Option Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Extrinsic_for_STO_Leg</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Position__c</field>
            <value>
                <elementReference>varInCurrentUnderlyingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Contracts__c</field>
            <value>
                <elementReference>varInCurrentNumContracts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Action__c</field>
            <value>
                <stringValue>Sell to Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Expiration_Date__c</field>
            <value>
                <elementReference>What_is_the_new_Option_Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Strike__c</field>
            <value>
                <elementReference>What_is_the_new_Option_Strike_Price</elementReference>
            </value>
        </inputAssignments>
        <object>Short_Option_Top_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Capture_New_Short_Option_Information_Screen</name>
        <label>Capture New Short Option Information Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Sell_to_Open_Short_Option_Leg</targetReference>
        </connector>
        <fields>
            <name>What_is_the_new_Option_Expiration_Date</name>
            <dataType>Date</dataType>
            <fieldText>What is the new Option Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_is_the_new_Option_Strike_Price</name>
            <dataType>Number</dataType>
            <fieldText>What is the new Option Strike Price</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>1</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Collect_Long_Option_Roll_Information_Screen</name>
        <label>Collect Long Option Roll Information Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Sell_to_Close_Long_Option_Leg</targetReference>
        </connector>
        <fields>
            <name>Sell_to_Close_Long_Option_Information</name>
            <fieldText>Sell to Close Long Option Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sell_to_Close_Long_Option_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_was_the_Fill_Price_of_the_Sell_to_Close_Option_Order</name>
                    <dataType>Currency</dataType>
                    <fieldText>What was the Fill Price of the Sell to Close Option Order?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>3</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Buy_to_Open_Long_Option_Information</name>
            <fieldText>Buy to Open Long Option Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Buy_to_Open_Long_Option_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_is_the_new_Long_Option_Expiration_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>What is the new Long Option Expiration Date?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>What_is_the_new_Long_Option_Strike_Price</name>
                    <dataType>Number</dataType>
                    <fieldText>What is the new Long Option Strike Price?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>What_was_the_Fill_Price_of_the_Buy_to_Open_Option_order</name>
                    <dataType>Currency</dataType>
                    <fieldText>What was the Fill Price of the Buy to Open Option order?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>3</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pause_Screen</name>
        <label>Pause Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Buy_to_Open_Long_Option_Leg</targetReference>
        </connector>
        <fields>
            <name>STCLegCreated</name>
            <fieldText>&lt;p&gt;You have created your Sell To Close Leg.  Will now create BTO Leg&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Roll_Bottom_Long_Position_Information_Screen</name>
        <label>Roll Bottom Long Position Information Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Collect_Long_Option_Roll_Information_Screen</targetReference>
        </connector>
        <fields>
            <name>RollBottomLongPositionInformationDisplay</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt; color: black;&quot;&gt;You are about to roll your long option contracts from one strike/expiration to another.&amp;nbsp;That will create a Sell to Close Leg and a Buy to Open Leg.&amp;nbsp;The assumption is that you are rolling your entire long position.  &lt;/span&gt;&amp;nbsp;You will need the following information which can be obtained from your broker:&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;Sell to Close&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;What is the Fill Price of the Sell to Close Order?&lt;/span&gt;&amp;nbsp;(Transaction History)&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;Buy to Open&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;What is the Fill Price of the Buy to Open Order?&lt;/span&gt;&amp;nbsp;(Transaction History)&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;What is the new Expiration Date?&lt;/span&gt;&amp;nbsp;(Transaction History)&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;What is the new Strike Price?&lt;/span&gt;&amp;nbsp;(Transaction History)&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Roll_Top_Short_Contracts_Information_Screen</name>
        <label>Roll Top Short Contracts Information Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Buy_To_Close_Short_Option_Leg</targetReference>
        </connector>
        <fields>
            <name>RollTopShortContractsInformationDisplay</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;You are about to roll your short contracts from one strike/expiration to another.&amp;nbsp;That will create a Buy to Close Leg and a Sell to Open Leg.&amp;nbsp;The assumption is that you are rolling your entire short position.  &lt;/span&gt;&amp;nbsp;You will need the following information which can be obtained from your broker:&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;Buy to Close&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-family: Calibri; font-size: 11pt;&quot;&gt;What was the Fill Price of the Buy to Close order?&amp;nbsp;(Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;The following items are NOT REQUIRED, but will let you track time premium you&apos;ve collected and bought back on rolls.&amp;nbsp;You can enter this information later, but it&apos;s easiest to capture stock prices for the MINUTE of your trade closest to the time of the trade.&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What time of day (minute) did you execute the trade? (Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What was the high price of the stock in that minute? (MINUTE Stock chart)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What was the low price of the stock in that minute? (MINUTE Stock chart)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;Sell to Open&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What is the expiration Date of your options? (Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What is the strike price? (Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What was the Fill Price of the Sell to Open order?&amp;nbsp;(Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;The following items are NOT REQUIRED, but will let you track time premium you&apos;ve collected and bought back on rolls.&amp;nbsp;You can enter this information later, but it&apos;s easiest to capture stock prices for the MINUTE of your trade closest to the time of the trade.&lt;/span&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What time of day (minute) did you execute the trade? (Transaction History)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What was the high price of the stock in that minute? (MINUTE Stock chart)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri;&quot;&gt;What was the low price of the stock in that minute? (MINUTE Stock chart)&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Roll_Bottom_or_Top</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_Extrinsic_for_BTC_Leg</name>
        <label>Calculate Extrinsic for BTC Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Capture_New_Short_Option_Information_Screen</targetReference>
        </connector>
        <flowName>Short_Option_Top_Position_Juice_Calculations</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Create_Buy_To_Close_Short_Option_Leg</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varBTCDateOrderFilled</assignToReference>
            <name>varOutDateAndTimeOfOrder</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBTCStockHighPrice</assignToReference>
            <name>varOutHighStockAtTimeOfOrder</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varBTCStockLowPrice</assignToReference>
            <name>varOutLowStockAtTimeOfOrder</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Calculate_Extrinsic_for_STO_Leg</name>
        <label>Calculate Extrinsic for STO Leg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Short_Option_Top_Position_Juice_Calculations</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Create_Sell_to_Open_Short_Option_Leg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInHighStockAtTimeOfOrder</name>
            <value>
                <elementReference>varBTCStockHighPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInLowStockAtTimeOfOrder</name>
            <value>
                <elementReference>varBTCStockLowPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInOrderDateAndTime</name>
            <value>
                <elementReference>varBTCDateOrderFilled</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varBTCDateOrderFilled</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBTCStockHighPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varBTCStockLowPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varInCurrentNumContracts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varInCurrentOptionExpirationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInCurrentStrikePrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>varInCurrentTickerSymbol</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInCurrentUnderlyingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInRollBottomLongOrTopShort</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Top Short</stringValue>
        </value>
    </variables>
</Flow>
