salesforce-reference/force-app/main/default/flows/Underlying_Position_Get_Most_Recent_Top_Position_and_Offer_Options.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Close_Options</name>
        <choiceText>Close Some Top and Bottom Contracts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CloseOptions</stringValue>
        </value>
    </choices>
    <choices>
        <name>OpenMoreContracts</name>
        <choiceText>Open More Top and Bottom Contracts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OpenMoreContracts</stringValue>
        </value>
    </choices>
    <choices>
        <name>RollBottomPositionContracts</name>
        <choiceText>Roll Bottom Long Contracts</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>RollBottomPositionContracts</elementReference>
        </value>
    </choices>
    <choices>
        <name>RollOptions</name>
        <choiceText>Roll Top Short Contracts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Roll Options</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Close_Acceptable_Number_of_Contracts</name>
        <label>Check Close Acceptable Number of Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Close_Sell_Long_Option_Bottom_Position_Contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closing_More_than_You_Have_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_Many_Top_and_Bottom_Contracts_Would_You_Like_to_Close</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Information_About_Base_Position.varOutNumOpenLongContracts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closing_Too_Many_Contracts_Screen</targetReference>
            </connector>
            <label>Closing More than You Have Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Option_Action</name>
        <label>Check Option Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Roll_Top_Position_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>With_this_position_do_you_want_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RollOptions</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Roll_Top_Position_Short_Contracts</targetReference>
            </connector>
            <label>Roll Top Position Contracts</label>
        </rules>
        <rules>
            <name>Roll_Bottom_Position_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>With_this_position_do_you_want_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RollBottomPositionContracts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Roll_Bottom_Position_Long_Contracts</targetReference>
            </connector>
            <label>Roll Bottom Position Contracts</label>
        </rules>
        <rules>
            <name>Close_Some_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>With_this_position_do_you_want_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Close_Options</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_Many_Top_and_Bottom_Contracts_Would_You_Like_To_Close_Screen</targetReference>
            </connector>
            <label>Close Some Contracts</label>
        </rules>
        <rules>
            <name>Open_More_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>With_this_position_do_you_want_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OpenMoreContracts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_Many_Top_and_Bottom_Contracts_Would_You_Like_to_Open_Screen</targetReference>
            </connector>
            <label>Open More Contracts</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Underlying Position - Get Most Recent Top Position and Offer Options {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Base Position - Get Most Recent Position and Offer Options</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Closing_Too_Many_Contracts_Screen</name>
        <label>Closing Too Many Contracts Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ClosingTooManyContractsDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You have {!Get_Information_About_Base_Position.varOutNumOpenLongContracts} contracts open and you are trying to close {!How_Many_Top_and_Bottom_Contracts_Would_You_Like_to_Close}.  Please click Previous and enter a number less than or equal to &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Information_About_Base_Position.varOutNumOpenLongContracts}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>How_Many_Top_and_Bottom_Contracts_Would_You_Like_To_Close_Screen</name>
        <label>How Many Top and Bottom Contracts Would You Like To Close Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Close_Acceptable_Number_of_Contracts</targetReference>
        </connector>
        <fields>
            <name>CloseContractsDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You currently have &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Get_Information_About_Base_Position.varOutNumOpenShortContracts} open Top Short contracts and&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;{!Get_Information_About_Base_Position.varOutNumOpenLongContracts} open Bottom Long contracts.  &lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;In order to close contracts you will need&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;The Sell to Close Fill Price of the Long Option Order&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;The Buy to Close Fill Price of the Short Option Order&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;The date and time (minute) of the closing short transaction&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;The high and low stock price in that minute&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>How_Many_Top_and_Bottom_Contracts_Would_You_Like_to_Close</name>
            <dataType>Number</dataType>
            <fieldText>How Many Top and Bottom Contracts Would You Like to Close?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>How_Many_Top_and_Bottom_Contracts_Would_You_Like_to_Open_Screen</name>
        <label>How Many Top and Bottom Contracts Would You Like to Open Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Open_Buy_Long_Option_Bottom_Position_Contracts</targetReference>
        </connector>
        <fields>
            <name>OpenContractsDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You currently have &lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Get_Information_About_Base_Position.varOutNumOpenShortContracts} open Top Short contracts and&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;{!Get_Information_About_Base_Position.varOutNumOpenLongContracts} open Bottom Long contracts.  &lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;In order to open more contracts you will need&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;The Buy to Open Fill Price of the Long Option Order&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;The Sell to Open Fill Price of the Short Option Order&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;The date and time (minute) of the opening short transaction&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;The high and low stock price in that minute&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>How_Many_Top_and_Bottom_Contracts_Would_You_Like_to_Open</name>
            <dataType>Number</dataType>
            <fieldText>How Many Top and Bottom Contracts Would You Like to Open?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Most_Recent_Position_Screen</name>
        <label>Most Recent Position Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Option_Action</targetReference>
        </connector>
        <fields>
            <name>Current_Bottom_Position_Information</name>
            <fieldText>Current Bottom Position Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Current_Bottom_Position_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CurrentBottomPositionDisplay</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Number of Long Contracts: {!Get_Information_About_Base_Position.varOutNumOpenLongContracts}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Ticker: {!Get_Information_About_Base_Position.varOutTickerSymbol}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Strike:  {!Get_Information_About_Base_Position.varOutBottomLongPositionStrike}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Expiration: {!Get_Information_About_Base_Position.varOutBottomLongPositionExpiration}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Current_Top_Position_Information</name>
            <fieldText>Current Top Position Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Current_Top_Position_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MostRecentTopPosition</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Number of Short Contracts: {!Get_Information_About_Base_Position.varOutNumOpenShortContracts}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Ticker: {!Get_Information_About_Base_Position.varOutTickerSymbol}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Strike:  {!Get_Information_About_Base_Position.varOutShortPositionStrike}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Expiration: {!Get_Information_About_Base_Position.varOutShortPositionExpiration}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>With_this_position_do_you_want_to</name>
            <choiceReferences>RollOptions</choiceReferences>
            <choiceReferences>RollBottomPositionContracts</choiceReferences>
            <choiceReferences>OpenMoreContracts</choiceReferences>
            <choiceReferences>Close_Options</choiceReferences>
            <dataType>String</dataType>
            <fieldText>With this position do you want to</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Information_About_Base_Position</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Close_Buy_Short_Option_Top_Position_Contracts</name>
        <label>Close/Buy Short Option Top Position Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Base_Position_Close_Buy_Short_Option_Top_Position_Contracts</flowName>
        <inputAssignments>
            <name>varInBasePositionId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInNumShortContractsToClose</name>
            <value>
                <elementReference>How_Many_Top_and_Bottom_Contracts_Would_You_Like_to_Close</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Close_Sell_Long_Option_Bottom_Position_Contracts</name>
        <label>Close/Sell Long Option Bottom Position Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Close_Buy_Short_Option_Top_Position_Contracts</targetReference>
        </connector>
        <flowName>Base_Position_Close_Sell_Long_Call_Bottom_Position_Contracts</flowName>
        <inputAssignments>
            <name>varInBasePositionId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInNumContractsToClose</name>
            <value>
                <elementReference>How_Many_Top_and_Bottom_Contracts_Would_You_Like_to_Close</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_Information_About_Base_Position</name>
        <label>Get Information About Base Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Most_Recent_Position_Screen</targetReference>
        </connector>
        <flowName>Base_Position_Return_Info_for_Base_Position</flowName>
        <inputAssignments>
            <name>varInBasePosition</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Open_Buy_Long_Option_Bottom_Position_Contracts</name>
        <label>Open/Buy Long Option Bottom Position Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Open_Sell_Short_Option_Top_Position_Contracts</targetReference>
        </connector>
        <flowName>Base_Position_Open_Buy_Long_Option_Bottom_Position_Contracts</flowName>
        <inputAssignments>
            <name>varInBasePositionId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInNumberOfContractsToOpen</name>
            <value>
                <elementReference>How_Many_Top_and_Bottom_Contracts_Would_You_Like_to_Open</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Open_Sell_Short_Option_Top_Position_Contracts</name>
        <label>Open/Sell Short Option Top Position Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Base_Position_Open_Sell_Short_Option_Top_Position_Contracts</flowName>
        <inputAssignments>
            <name>varInBasePositionId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInNumberOfContractsToOpen</name>
            <value>
                <elementReference>How_Many_Top_and_Bottom_Contracts_Would_You_Like_to_Open</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Roll_Bottom_Position_Long_Contracts</name>
        <label>Roll Bottom Position Long Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Underlying_Position_Roll_Option_Position</flowName>
        <inputAssignments>
            <name>varInCurrentNumContracts</name>
            <value>
                <elementReference>Get_Information_About_Base_Position.varOutNumOpenLongContracts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInCurrentOptionExpirationDate</name>
            <value>
                <elementReference>Get_Information_About_Base_Position.varOutBottomLongPositionExpiration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInCurrentStrikePrice</name>
            <value>
                <elementReference>Get_Information_About_Base_Position.varOutBottomLongPositionStrike</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInCurrentTickerSymbol</name>
            <value>
                <elementReference>Get_Information_About_Base_Position.varOutTickerSymbol</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInCurrentUnderlyingId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInRollBottomLongOrTopShort</name>
            <value>
                <stringValue>Bottom Long</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Roll_Top_Position_Short_Contracts</name>
        <label>Roll Top Position Short Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Underlying_Position_Roll_Option_Position</flowName>
        <inputAssignments>
            <name>varInCurrentNumContracts</name>
            <value>
                <elementReference>Get_Information_About_Base_Position.varOutNumOpenShortContracts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInCurrentOptionExpirationDate</name>
            <value>
                <elementReference>Get_Information_About_Base_Position.varOutShortPositionExpiration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInCurrentStrikePrice</name>
            <value>
                <elementReference>Get_Information_About_Base_Position.varOutShortPositionStrike</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInCurrentTickerSymbol</name>
            <value>
                <elementReference>Get_Information_About_Base_Position.varOutTickerSymbol</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInCurrentUnderlyingId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInRollBottomLongOrTopShort</name>
            <value>
                <stringValue>Top Short</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
