salesforce-reference/force-app/main/default/flows/Underlying_Position_Manually_Create_Option_Leg.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_New_Top_Position_Id</name>
        <label>Assign New Top Position Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNewTopPositionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Short_Option_Top_Position</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choose_Calculate_Extrinsic_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChooseNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChooseYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Calculate_Extrinsic_Now</name>
        <label>Check Calculate Extrinsic Now</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Calculate_Now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Calculate_Extrinsic_Value_Now</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Extrinsic_Calculation_Information</targetReference>
            </connector>
            <label>Calculate Now</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OptionActionPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Option_Action__c</picklistField>
        <picklistObject>Short_Option_Top_Position__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formNewTopPositionLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!varNewTopPositionId}</expression>
    </formulas>
    <interviewLabel>Underlying Position - Manually Create Option Leg {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Base Position - Manually Create Option Leg</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Short_Option_Top_Position</name>
        <label>Create Short Option Top Position</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_New_Top_Position_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Base_Position__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Contracts__c</field>
            <value>
                <elementReference>How_Many_Contracts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Action__c</field>
            <value>
                <elementReference>What_Action_did_you_Take</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Expiration_Date__c</field>
            <value>
                <elementReference>What_is_the_Expiration_Date_of_the_Option</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Option_Strike__c</field>
            <value>
                <elementReference>What_is_the_Strike_Price_of_the_Option</elementReference>
            </value>
        </inputAssignments>
        <object>Short_Option_Top_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Underlying_Position_Information</name>
        <label>Get Underlying Position Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Short_Option_Top_Position_for_Underlying</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Base_Position__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Choose_Calculate_Extrinsic_Screen</name>
        <label>Choose Calculate Extrinsic Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Calculate_Extrinsic_Now</targetReference>
        </connector>
        <fields>
            <name>RecordCreatedDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Your Record has been created.  Do you want to enter Extrinsic Calculation Data now.  This can be entered later by navigating to the record and clicking &quot;Calculate Extrinsic Value&quot;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Click on the following now to see your new Top Potition record:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!formNewTopPositionLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;New Top Position Record&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;OR:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Calculate_Extrinsic_Value_Now</name>
            <choiceReferences>ChooseYes</choiceReferences>
            <choiceReferences>ChooseNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Calculate Extrinsic Value Now?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Short_Option_Top_Position_for_Underlying</name>
        <label>Create Short Option Top Position for Underlying</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Short_Option_Top_Position</targetReference>
        </connector>
        <fields>
            <name>What_Action_did_you_Take</name>
            <choiceReferences>OptionActionPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What Action did you Take?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>How_Many_Contracts</name>
            <dataType>Number</dataType>
            <fieldText>How Many Contracts?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_is_the_Expiration_Date_of_the_Option</name>
            <dataType>Date</dataType>
            <fieldText>What is the Expiration Date of the Option</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>What_is_the_Strike_Price_of_the_Option</name>
            <dataType>Currency</dataType>
            <fieldText>What is the Strike Price of the Option?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>1</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Underlying_Position_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Extrinsic_Calculation_Information</name>
        <label>Get Extrinsic Calculation Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Short_Option_Top_Position_Juice_Calculations</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Create_Short_Option_Top_Position</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewTopPositionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
