salesforce-reference/force-app/main/default/flows/Utility_Is_Number_Divisible_By_Divisor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_output_Variables</name>
        <label>Assign output Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOutInputNumberIsDivisibleByTestNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOutNumberOfTimesDivisorGoesIntoTestNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formTestNumberDividedByDivisor</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Does_Divisor_Evenly_Divide_Test_Number</name>
        <label>Does Divisor Evenly Divide Test Number</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Evenly Divisible</defaultConnectorLabel>
        <rules>
            <name>Evenly_Divisible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formTestNumberModDivisor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_output_Variables</targetReference>
            </connector>
            <label>Evenly Divisible</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formTestNumberDividedByDivisor</name>
        <dataType>Number</dataType>
        <expression>{!varInIntegerToTest} / {!varInDivisorToBeDivisibleBy}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formTestNumberModDivisor</name>
        <dataType>Number</dataType>
        <expression>MOD({!varInIntegerToTest},{!varInDivisorToBeDivisibleBy})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Utility - Is Number Divisible By Divisor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Utility - Is Number Divisible By Divisor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Does_Divisor_Evenly_Divide_Test_Number</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varInDivisorToBeDivisibleBy</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varInIntegerToTest</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varOutInputNumberIsDivisibleByTestNumber</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varOutNumberOfTimesDivisorGoesIntoTestNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
